
            <table class="table table-striped table-bordered table-hover only-content-table">
                <thead>
                    <tr>
                        <th class="center">
                            MODULE
                        </th>
                        <th class="center">
                            CONTROLLER
                        </th>
                        <th class="center">
                            ACTION
                        </th>
                        <th class="center">
                            备注
                        </th>
                            <th class="center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <volist name="list" id="vo">
                        <tr>
						<td class="center">{$vo[module]}</td>
						<td class="center">{$vo[controller]}</td>
						<td class="center">{$vo[action]}</td>
						<td class="center">{$vo[remark]}</td>
                            <td class="center">
                                <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                    <a class="delete-btn-only-content" id="{$vo['id']}" >
                                        <button type="button" class="btn btn-xs btn-danger border-1">
                                            <i class="icon-trash"></i>
                                        </button>
                                    </a>
                                </div>
                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                    <div class="inline position-relative">
                                        <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-cog icon-only bigger-110"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                            <li>
                                                <a class="delete-btn-only-content" id="{$vo['id']}">
                                                    <span class="red">
                                                        <i class="icon-trash bigger-120"></i>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </volist>
                </tbody>
            </table>