<include file="Public/ace_header" />
    <div class="row">
        <form class="form-horizontal update-form pr-10 pl-10" role="form" method="post" >
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right" for="module"> MODULE </label>
                <div class="col-xs-12 col-sm-6">
                    <span class="block input-icon input-icon-right">
                        <input type="text" class="width-100" placeholder="MODULE" id="module" name="module"  value="{$model['module']|default=''}" validate-required="required:请填写MODULE" />
                        <i></i>
                        <small class="color-gray"></small>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline mb-5"></div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right" for="controller"> CONTROLLER </label>
                <div class="col-xs-12 col-sm-6">
                    <span class="block input-icon input-icon-right">
                        <input type="text" class="width-100" placeholder="CONTROLLER" id="controller" name="controller"  value="{$model['controller']|default=''}" validate-required="required:请填写CONTROLLER" />
                        <i></i>
                        <small class="color-gray"></small>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline mb-5"></div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right" for="action"> ACTION </label>
                <div class="col-xs-12 col-sm-6">
                    <span class="block input-icon input-icon-right">
                        <input type="text" class="width-100" placeholder="ACTION" id="action" name="action"  value="{$model['action']|default=''}" validate-required="required:请填写ACTION" />
                        <i></i>
                        <small class="color-gray"></small>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline mb-5"></div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right" for="remark"> 备注 </label>
                <div class="col-xs-12 col-sm-6">
                <span class="block input-icon input-icon-right">
                <textarea class="col-xs-12 col-sm-6 width-100 p-54" rows="5" id="remark" name="remark" placeholder="备注" validate-required="required:请填写备注" >{$model["remark"]|default=''}</textarea>
                        <i></i>
                        <small class="color-gray"></small>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline mb-5"></div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right" for="file"> 文件位置 </label>
                <div class="col-xs-12 col-sm-6">
                    <span class="block input-icon input-icon-right">
                        <input type="text" class="width-100" placeholder="文件位置" id="file" name="file"  value="{$model['file']|default=''}"  />
                        <i></i>
                        <small class="color-gray"></small>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline mb-5"></div>
            </div>
            <div class="clearfix form-actions">
                <div style="margin-left: 25%;">
                    <button class="btn btn-info btn-sm" type="submit">
                        <i class="icon-ok bigger-110"></i>
                        提交
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn btn-sm return" type="button">
                        <i class="icon-reply bigger-110"></i>
                        返回
                    </button>
                </div>
            </div>
        </form>
    </div>
<include file="Public/ace_footer" />