<include file="Public/ace_header" />
    <div class="row">
        <form class="form-horizontal update-form pr-10 pl-10" role="form" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right" for="tag_id"> 标签 </label>
                <div class="col-xs-12 col-sm-6">
                    <div class="checkbox">
                        <php> $checkboxforeignTempArr = D("Tag")->select(); </php>
                        <volist name="checkboxforeignTempArr" id="vo">
                            <label><input type="checkbox" name="tag_id[]"  value="{$vo[id]}" <if condition="in_array($vo[id], explode(',', $model[tag_id]))">checked="checked"</if> >{$vo[name]}</label><br/>
                        </volist>
                    </div>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline mb-5"></div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right" for="title"> 标题 </label>
                <div class="col-xs-12 col-sm-6">
                    <span class="block input-icon input-icon-right">
                        <input type="text" class="width-100" placeholder="标题" id="title" name="title"  value="{$model['title']|default=''}" validate-required="required:请填写标题" />
                        <i></i>
                        <small class="color-gray"></small>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline mb-5"></div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right" for="image"> 图片 </label>
                <div class="col-xs-12 col-sm-6">
                    <span class="block input-icon input-icon-right">
                        <input type="file" class="width-100" placeholder="图片" id="image" name="image"  value="{$model['image']|default=''}" <if condition="ACTION_NAME neq 'update'"></if> />
                        <i></i>
                        <small class="color-gray"></small>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline mb-5"></div>
            </div>
            <if condition="ACTION_NAME eq update">
			<div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right" for="imgShow"></label>
                <div class="col-xs-12 col-sm-6">
                    <span class="block input-icon input-icon-right">
                    	<img src="__PUBLIC__/file/{$model['image']}" width="120" height="60" />
                        <i></i>
                        <small class="color-gray"></small>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline mb-5"></div>
            </div>
            </if>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right" for="summary"> 摘要 </label>
                <div class="col-xs-12 col-sm-6">
                <span class="block input-icon input-icon-right">
                <textarea class="col-xs-12 col-sm-6 width-100 p-54" rows="5" id="summary" name="summary" placeholder="摘要" validate-required="required:请填写摘要" >{$model["summary"]|default=''}</textarea>
                        <i></i>
                        <small class="color-gray"></small>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline mb-5"></div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right" for="content"> 内容 </label>
                <div class="col-xs-12 col-sm-6">
                <span class="block input-icon input-icon-right">
                        <textarea class="col-xs-12 col-sm-6 width-100 p-54" rows="5" id="content" name="content" placeholder="内容" validate-required="required:请填写内容" >{$model["content"]|default=""}</textarea>
                        <i></i>
                        <small class="color-gray"></small>
                    </span>
                </div>
                <script type="text/javascript">var editor = UE.getEditor("content");</script>
                <div class="help-block col-xs-12 col-sm-reset inline mb-5"></div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right" for="browse"> 浏览量 </label>
                <div class="col-xs-12 col-sm-6">
                    <span class="block input-icon input-icon-right">
                        <input type="text" class="width-100" placeholder="浏览量" id="browse" name="browse"  value="{$model['browse']|default=''}" validate-required="required:请填写浏览量" />
                        <i></i>
                        <small class="color-gray"></small>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline mb-5"></div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right" for="real_browse"> 真实浏览量 </label>
                <div class="col-xs-12 col-sm-6">
                    <span class="block input-icon input-icon-right">
                        <input type="text" class="width-100" placeholder="真实浏览量" id="real_browse" name="real_browse"  value="{$model['real_browse']|default=''}" validate-required="required:请填写真实浏览量" />
                        <i></i>
                        <small class="color-gray"></small>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline mb-5"></div>
            </div>
            <div class="clearfix form-actions">
                <div style="margin-left: 25%;">
                    <button class="btn btn-info btn-sm" type="submit">
                        <i class="icon-ok bigger-110"></i>
                        提交
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn btn-sm return" type="button">
                        <i class="icon-reply bigger-110"></i>
                        返回
                    </button>
                </div>
            </div>
        </form>
    </div>
<include file="Public/ace_footer" />